/* generales */
* {
    box-sizing: border-box;
}
body{
    background-color: lightgreen;
}
a{
    text-decoration: none;
    color: inherit;
}

/* Header */
.header-container{
    background-color: lightsalmon;
}
.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    display: flex;
    background-color: lightgray;
    border: 2px solid black;
}
.nav-bar li {
    list-style: none;
    margin: 0  auto;
    display: block;
    width: 100%;
    text-align: center;
    border-right: 1px solid black;
}
.nav-bar li:last-child {
    border-right: none;
}
.nav-bar li a {
    color: black;
}
.buscador-carrito{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
.carrito i {
    color:black;
}
/* Slider */
.carousel-container {
    background-color: lightskyblue;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.d-block {
    margin: 0 auto;
}
.carousel-indicators li{
    background: lightgray;
}
.carousel-container h2 {
    text-align: center;
}
/* Productos */
.article-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
}
.article-box a {
    display: block;
}
.article-data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.imagen-producto {
    width: 100%;
}
.button-container {
    position: relative;
    left: 40%
}