<footer class="container">
    <div class="contact-container">
        <h2>Contacto</h2>
        <div class="row footer-row">
            <ul class="contact-bar">
                <li class="col-12 col-md-2">
                    <a href="">
                    <i class="fab fa-whatsapp fa-2x">Whatsapp</i>
                    </a>
                </li>
                <li class="col-12 col-md-2"><a href="">
                    <i class="fab fa-instagram fa-2x">Instagram</i>
                    </a>
                </li>
                <li class="col-12 col-md-2">
                    <a href="">
                        <i class="fab fa-facebook-f fa-2x">Facebook</i>
                    </a>
                </li>
                <li class="col-12 col-md-2">
                    <a href="">
                        <i class="fab fa-twitter fa-2x">Twitter</i>
                    </a>
                </li>
                <li class="col-12 col-md-2">
                    <a href=""><i class="fas fa-envelope fa-2x">Email</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
