<%- include('./partials/head') %>

    <! HEAD -->
    <%- include('./partials/head') %>
    <! HEAD -->

<body>
            <! HEADER -->
            <%- include('./partials/header') %>
            <! HEADER -->

        <main>
            <div class="producto-container">
                <h2>Producto nuevo</h2>
                <form method="POST" action="/products/create">
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="name" id="nombre"><br>
                    <label for="descripcion">Descripcion</label><br>
                    <input type="text" name="description" id="descripcion"><br>
                    <label for="categoria">Categoria</label><br>
                    <input type="text" name="category" id="categoria"><br>
                    <label for="precio">Precio</label><br>
                    <input type="number" name="price" id="precio"><br>
                    <label for="color">Colores</label><br>
                    <input type="text" name="colors" id="color"><br>
                    <br>
                    <button class="btn btn-dark" type="submit">Agregar Producto</button>
                </form>
            </div>
       
            <%- include('./partials/footer') %>
        </main>
</body>